
/.tmp
/tmp
/node_modules

config/*.json
config/*.php

logs/
*.log
*.swp
*.bak

deploy/*.conf

#htdocs/data/**/*
htdocs/data/attic/*
htdocs/data/cache/*
htdocs/data/index/*
htdocs/data/locks/*
htdocs/data/media/*
htdocs/data/meta/*
htdocs/data/media_attic/*
htdocs/data/media_meta/*
htdocs/data/pages/*
htdocs/data/tmp/*
!htdocs/data/deleted.files
!htdocs/data/security.png

!_dummy
!.htaccess
